.superpowers/

# Flutter / Dart
.dart_tool/
.packages
build/
*.g.dart
*.freezed.dart
.flutter-plugins
.flutter-plugins-dependencies

# Android
/android/.gradle/
/android/local.properties
/android/key.properties
*.jks
*.keystore

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/ephemeral/

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store
